---
import PageLayout from "@layouts/PageLayout.astro";
import { Button, Card, Icon, Notification, Tag } from "astro-bulma";
import { getUserEnsembles } from "@lib/ensemble";
import { getEnsembleUrlId } from "@lib/slug";

const user = Astro.locals.user!;

const userEnsembles = await getUserEnsembles(user.id);
---

<PageLayout title="My Ensembles" pageTitle="My Ensembles">
  <div slot="action" class="buttons">
    <Button href="/invite/join" color="light">
      <Icon icon="fa-ticket" />
      <span>Join with Invite Code</span>
    </Button>
    <Button href="/ensembles/new" color="primary">
      <Icon icon="fa-plus" />
      <span>Create Ensemble</span>
    </Button>
  </div>

  {
    userEnsembles.length > 0 ? (
      <div class="columns is-multiline">
        {userEnsembles.map((ensemble) => (
          <div class="column is-4">
            <Card>
              <p class="title is-4">{ensemble.name}</p>
              {ensemble.description && (
                <p class="subtitle is-6">{ensemble.description}</p>
              )}
              <div class="tags mt-2">
                <Tag color={ensemble.role === "admin" ? "warning" : "info"}>
                  {ensemble.role === "admin" ? "Ensemble Admin" : "Member"}
                </Tag>
              </div>
              <a
                slot="footer"
                href={`/ensembles/${getEnsembleUrlId(ensemble)}`}
                class="card-footer-item"
              >
                View Details
              </a>
            </Card>
          </div>
        ))}
      </div>
    ) : (
      <Notification color="info" light>
        <p>
          You haven't joined any ensembles yet. Ask your ensemble admin for an
          invite code!
        </p>
      </Notification>
    )
  }
</PageLayout>
