---
import { APP_NAME } from '../lib/config';
---

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>{APP_NAME}</strong> - Managing musical ensembles with ease.
    </p>
  </div>
</footer>
