---
type Props = {
  class?: string;
  id?: string;
  [key: string]: unknown;
};

const { class: className, id, ...rest } = Astro.props;

const classes = ["box", className].filter(Boolean).join(" ");
---

<div class={classes} id={id} {...rest}>
  <slot />
</div>
